<!DOCTYPE html>

<html>
  <head>
    <title>Ma follow List</title>
    <style>
      a {
        text-decoration: none;
        color: black;
      }
    </style>
  </head>

  <body>
    <h1>Ma follow List</h1>

    <ul>
      <% checkList.forEach(function(objet, index) { %>
      <li><a href="/delete/<%= index %>">X</a> <%= objet %></li>
      <% }); %>
    </ul>

    <form action="/add" method="post">
      <p>
        <label for="url">Quel article dois-je suivre ?</label>
        <input
          type="text"
          name="url"
          id="url"
          placeholder="glisser l'url ici..."
          size="50"
          autofocus
        />
        <br />
        <label for="price">Quel est le prix d'alerte ?</label>
        <input
          type="text"
          name="price"
          id="price"
          placeholder="sans symbole (en euros)..."
          size="50"
          autofocus
        />
        <input type="submit" />
      </p>
    </form>
  </body>
</html>
